venv/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py
runs/
yolo*
zidane.jpg
.idea/
calibration_*.npy
tmp.zip
datasets/
bus.jpg

*.pt
*.onnx
best_bobot_saved_model
